<div class="attendance">
  <div class="col-sm-4 pt-5 pl-5">
    <div class="card">
        <img class="card-img-top bg-light" src="../assets/img/logo.png" alt="Optimum Fitness">
        <div class="card-body">
            <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="pin">Please Enter Attendance PIN</label>
                    <input type="password" formControlName="pin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
                    <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                        <div *ngIf="f.pin.errors.required">PIN is required</div>
                    </div>
                </div>
                <div  class="clearfix text-center">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>                
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
            </form>
        </div>
    </div>
</div>  
            
</div>
    
