<div class="col-md-6">
  <div class="card text-center shadow mb-4">
    <div class="card-header ">
      <h4 class="font-weight-bold">Customers</h4>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <h5 class="card-title">Total : {{dashboard.totalCustomers}}</h5>     
        <div class="chart-wrapper">
          <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="chartColors"
            [options]="chartOptions"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
    </div>
  </div>
</div>
