<div class="card-deck">
<div class="card bg-primary text-white text-center">
  <h4 class="card-header">Total Customers</h4>
  <div class="card-body">
    <a href="/customers/list/all" class="text-white"><h4>{{dashboard.totalCustomers}}</h4></a>
  </div>
</div>
<div class="card bg-info text-white text-center">
  <h4 class="card-header">Active Customers</h4>
  <div class="card-body">
    <a href="/customers/list/active" class="text-white"><h4>{{dashboard.activeCustomers}}</h4></a>
  </div>
</div>

<div class="card bg-danger text-white text-center">
  <h4 class="card-header">Due Customers</h4>
  <div class="card-body">
    <a href="/customers/list/due" class="text-white"><h4>{{dashboard.inActiveCustomers}}</h4></a>
  </div>
</div>

</div>
