<nav class="navbar navbar-dark fixed-top bg-light flex-md-nowrap p-0 shadow">
    
    <img class="navbar-brand col-sm-3 col-md-2 mr-0" src="../assets/img/logo-name.png" alt="Card image">
    
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              {{user?.userInfo.firstName}} {{user?.userInfo.lastName}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Profile</a>      
              <a class="dropdown-item" href="#">Help</a>          
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        
        
    
</nav>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                Dashboard
              </a>
            </li>            
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false" href="#customerSubmenu">
                <i class="fa fa-users" aria-hidden="true"></i>
                Customers
              </a>
              <ul class="collapse list-unstyled" id="customerSubmenu">
                <li class="nav-item submenu">
                  <a class="nav-link" routerLinkActive="active" routerLink="/customers/list/all">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    List 
                  </a>
                </li>
                <li class="nav-item submenu">
                  <a class="nav-link"routerLinkActive="active" routerLink="/customers/add">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Add 
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/attendance/detail/0">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Attendance
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4">
        <router-outlet></router-outlet>  
      </main>
    </div>
  </div>