<div class="card">
  <h4 class="card-header">Customer List</h4>
  <div class="card-body">
    <div id="table">      
      <table id="dtBasicExample" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Photo</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Mobile</th>
            <th class="text-center">PIN</th>
            <th class="text-center">View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td class="pt-3-half">
              <img src="{{imagesUrl}}/{{customer.avatar}}" onerror="this.src='../../assets/img/default_profile.png'" height="30" width="30" />
            </td>
            <td class="pt-3-half">{{customer.name}}</td>
            <td class="pt-3-half">{{customer.email}}</td>
            <td class="pt-3-half">{{customer.mobile}}</td>
            <td class="pt-3-half">{{customer.pin}}</td>            
            <td>   
              <button type="button" name="view" id="viewCustomer" (click)="viewCustomer(customer.id)"
                  class="btn btn-primary btn-rounded btn-sm my-0">View</button>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Editable table -->
