  <div class="card">
      <h4 class="card-header">New Customer</h4>
      <div class="card-body">
          <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm)">
            <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="name">Name</label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="email">Email</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors">Email is required</div>
                  </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="mobile">Mobile</label>
                    <input type="text" ng-minlength="10" ng-maxlength="10" (blur)="setPin(customerForm)" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors">Mobile is required</div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="pin">PIN</label>
                    <input type="text" formControlName="pin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
                    <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors">PIN is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="dateOfJoin">Date of Join</label>
                    <input input type="date" ng-model="myDate" formControlName="dateOfJoin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfJoin.errors }" />
                    <div *ngIf="submitted && f.dateOfJoin.errors" class="invalid-feedback">
                        <div *ngIf="f.dateOfJoin.errors">Date of join required</div>
                    </div>
                </div>
                <div class="form-group col-md-1" >
                    <label for="months">Months</label>
                    <select class="selectpicker" formControlName="months" class="form-control" #monthSelect
                    (change)='onMonthSelect(monthSelect.value)' data-live-search="true">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="lastDate">Last Date</label>
                    <input input type="date" ng-model="myDate" formControlName="lastDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastDate.errors }" />
                    <div *ngIf="submitted && f.lastDate.errors" class="invalid-feedback">
                        <div *ngIf="f.lastDate.errors">Last Date required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">                
                <div class="form-group col-md-3">
                    <label for="kycType">KYC Type</label>
                    <select class="selectpicker" formControlName="kycType" class="form-control" data-live-search="true">
                      <option value="AADHAR" selected>AADHAR</option>
                      <option value="PAN">PAN</option>
                      <option value="DL">DL</option>
                    </select>
                </div>        
                <div class="form-group col-md-3">
                    <label for="docNumber">Doc Number</label>
                    <input type="text" formControlName="docNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.docNumber.errors }" />
                </div>    
                <div class="form-group col-md-3"> 
                    <label for="docImage">Doc Image</label>
                    <div class="btn-file">
                        <input formControlName="docImage" id="docImage" name="docImage" type="file" (change)="uploadDocImage($event)">
                    </div>
                </div>  
                <div class="form-group col-md-3">
                    <div class="image-preview" *ngIf="docImageUrl">
                        <img [src]="docImageUrl" height="75" />                 
                    </div> 
                </div> 
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="gender">Gender</label>
                    <select class="selectpicker" formControlName="gender" class="form-control" data-live-search="true">
                      <option value="MALE" selected>MALE</option>
                      <option value="FEMALE">FEMALE</option>
                      <option value="UNKNOWN">UNKNOWN</option>
                    </select>
                </div>
                <div class="form-group col-md-3"> 
                    <label for="avatar">Photo</label>
                    <div class="btn-file">
                        <input formControlName="avatar" id="avatar" name="avatar" type="file" (change)="uploadAvatar($event)">
                    </div>
                </div>  
                <div class="form-group col-md-3">
                    <div class="image-preview" *ngIf="avatarUrl">
                        <img [src]="avatarUrl" height="75" />                 
                    </div> 
                </div> 
            </div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> 
            <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>           
          </form>
      </div>
  </div>